@media screen and (max-width: 980px) {
 	#contact-form {
 		/*width: 420px;*/
 	}
 	input[type=text], 
 	input[type=email], 
 	textarea {
 		width: 360px;	
	}
}
@media screen and (max-width: 768px) {
 	input[type=text], 
 	input[type=email], 
 	textarea {
 		width: 663px;
		}
}
@media screen and (max-width: 640px) {
 input[type=text], 
 input[type=email], 
 textarea {
 	width: 270px;
	}
}