@media screen and (max-width: 980px) {
	.auth-image {
		width: 263px;
	}
}

@media screen and (max-width: 768px) {
	.auth-image {
		width: 310px;
	}
	p {
		line-height: 28px
	}
}

@media screen and (max-width: 640px) {
	.auth-image {
		width: 267px;
		margin-bottom: 20px;
	}
	p {
		line-height: 28px
	}
}