/*@media screen and (max-width: 980px) {
/*.main-section {
		width: 430px;
		height: auto;
	}*/
/*	.auth-img {
    	width: 270px;
    	height: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 25px;
	}
}*/*/