@media screen and (max-width: 980px) {
	.work {
		width: 267px;
	}
}
@media screen and (max-width: 768px) {
	.work {
		width: 249px;
		}
}
@media screen and (max-width: 640px) {
	.work {
		width: 267px;
	}
}
